POSTGRES_DSN="host=example.com port=5432 user=postgres password=postgres dbname=postgres sslmode=disable"
NETWORK_NAME="database-network"
PAIRS_OVERRIDE=BTCUSDC,ETHUSDC,BNBUSDC,SOLUSDC,XRPUSDC,DOGEUSDC,ADAUSDC,AVAXUSDC
DEBUG=0